extends _html
block head
	title Incommunicado | #{title}

block body
	h1 "#{title}"
	p This page needs a view.  To create the view just add a new file to the views folder, copy the content of "page.jade" into it, and code it up!