body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* Generic Control Pane */
.control-pane {}

.output-pane {}

.input-pane {}

.tool-pane {}

.tool {
	background-color: black;
	height: 20px;
	width: 20px;
}