* {
	padding: 0px;
	margin: 0px;
	white-space: pre-wrap;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* Generic Control Pane */
.control-pane {
	background: #fff;
	border: 1px solid #000;
	padding: 10px;
}

.output-pane {}

.button {
	border: 1px solid #963;
	cursor: pointer;
	padding: 3px;
}

/* Attributes */
.allegiance.allegiance-A {
	color: #7F7;
}
.allegiance.allegiance-J {
	color: #77F;
}
.allegiance.allegiance-S {
	color: #F77;
}
.allegiance.allegiance-U {
	color: #777;
}

.role.role-A {
	color: #7F7;
}
.role.role-C {
	color: #777;
}
.role.role-CA {
	color: #7FF;
}
.role.role-CS {
	color: #FF7;
}
.role.role-J {
	color: #77F;
}
.role.role-S {
	color: #F77;
}
.role.role-U {
	color: #777;
}

.status.status-A {
}
.status.status-D {
}

.player.status-D {
	text-decoration: line-through;
}

/* Email */
#email-control-pane {
	position: absolute;
	top: 150px;
	right: 885px;
	width: 500px;
}

#email-account-list {}

#email-address-list {}

#email-message-list {
	border: 1px solid #000;
	height: 200px;
	overflow: auto;
}
#email-message-list li.message {
	list-style: none;
	margin: 5px;
}
#email-message-list li.message .short {
	clear: left;
}
#email-message-list li.message.unread .short {
	font-weight: bold;
}
#email-message-list li.message .short .from {
	float: left;
	width: 100px;
}
#email-message-list li.message .short .subject {
	margin-left: 150px;
}

#email-message-list li.message .long {
	clear: left;
}
#email-message-list li.message .label {
	clear: left;
	float: left;
	font-weight: bold;
	width: 50px;
}
#email-message-list li.message .label::after {
	content: ":"
}

#email-message-list li.message .long .bcc-list {
}
#email-message-list li.message .long .bcc-list li.bcc {
	background: #aaa;
	list-style: none;
	float: left;
	margin: 5px 0px
}

#email-message-list li.message .long .cc-list {
}
#email-message-list li.message .long .cc-list li.cc {
	background: #aaa;
	list-style: none;
	float: left;
	margin: 5px 0px
}

#email-message-list li.message .long .to-list {
}
#email-message-list li.message .long .to-list li.to {
	background: #aaa;
	list-style: none;
	float: left;
	margin: 5px 0px
}

#email-message-list li.message .long .bcc-list {
}
#email-message-list li.message .long .bcc-list li.bcc {
	background: #aaa;
	list-style: none;
	float: left;
	margin: 5px 0px
}
#email-message-list li.message .long  {
}
#email-message-list li.message .cc-list li.cc {
	background: #aaa;
	list-style: none;
	float: left;
	margin: 5px 0px
}
#email-message-list li.message .long .body {
	clear: left;
}
#email-message-list li.message .long .subject {
	clear: left;
}


#email-send-pane {
	
}
#email-send-pane-form li {
	list-style: none;
	margin: 5px 0px;
	
}
#email-send-pane-form label {
	cursor: pointer;
	float: left;
	font-weight: bold;
	width: 100px;
}
#email-send-pane-form label::after {
	content: ':';
}
#email-send-body {
	height: 150px;
	width: 100%;
}
#email-send-submit {
	text-align: center;
	width: 100px;
}


/* Irc */
#irc-control-pane {
	position: absolute;
	top: 50px;
	right: 300px;
	width: 535px;
}

#irc-message-list {
	border: 1px solid #000;
	height: 300px;
	float: left;
	overflow: auto;
	width: 400px;
}
#irc-message-list li.message {
	font-family: courier;
	font-size: .9em;
	list-style: none;
	margin: 5px;
	overflow: visible;
}
#irc-message-list li.message .nick {
	float: left;
}
#irc-message-list li.message .text {
	margin-left: 20px;
}
#irc-message-list li.message .errorText {
	color: red;
	margin-left: 20px;
}
#irc-user-list {
	float: left;
	height: 300px;
	padding: 0px 5px;
	width: 100px;
}
#irc-user-list li.user {
	height: 14px;
	list-style: none;
	margin-bottom: 5px;
	overflow:hidden;
}

#irc-input-pane {
	padding: 5px 0px;
	height: 25px;
	clear: left;
}
#irc-input-textfield {
	float: left;
	height:25px;
	margin-right: 5px;
	padding: 5px;
	width: 250px;
}
#irc-input-submit {
	width: 70px;
	float: left;
}


/* Lobby */
#lobby-control-pane {
	width: 500px;
}

#lobby-game-list {
	border: 1px solid #999;
	height: 150px;
	overflow: auto;
}
#lobby-game-list li.game {
	cursor: pointer;
	list-style: none;
	padding: 3px;
}
#lobby-game-list li.game.active {
	background: #ffffcc
}

#lobby-tool-pane {
	margin-top: 10px;
	height: 25px;
}
#lobby-tool-create {
	width: 100px;
	float: left;
}
#lobby-tool-join {
	width: 100px;
	float: right;
}


/* Storyteller */
#storyteller-control-pane {
	position: absolute;
	right: 50px;
	top: 50px;
	width: 200px;
}

#storyteller-player-pane {
	width: 200px;
}
#storyteller-player-pane div.allegiance {
}
#storyteller-player-pane div.avatar {
	background: #fcc;
	height: 100px;
	margin: auto;
	text-align: center;
	width: 100px;
}
#storyteller-player-pane div.name {
	text-align: center;
}
#storyteller-player-pane div.role {
	font-size: 1.3em;
}
#storyteller-player-pane div.status {
	font-size: .8em;
	text-align: center;
}

#storyteller-peer-pane {}
#storyteller-player-list {}
#storyteller-player-list li.player {
	clear: left;
	height: 30px;
	list-style: none;
}
#storyteller-player-list li.player .allegiance {
	float: left;
	font-size: .8em;
	margin-left: 25px;
	text-align: center;
	width: 75px;
}
#storyteller-player-list li.player .allegianceCode {
	display: none;
	float: left;
}
#storyteller-player-list li.player .id {
	display: none;
	font-size: .5em;
}
#storyteller-player-list li.player .name {
	float: left;
	overflow: hidden;
	width: 200px;
}
#storyteller-player-list li.player .role {
	float: left;
	font-size: .8em;
	margin-left: 25px;
	text-align: center;
	width: 75px;
}
#storyteller-player-list li.player .roleCode {
	display: none;
	float: left;
}

#storyteller-announcement-pane {
	background: #000;
	height: 150px;
	overflow: auto;
	padding: 5px;
}
#storyteller-announcement-list {}
#storyteller-announcement-list li.message {
	color: #eee;
	font-size: .8em;
	list-style: none;
	margin: 5px 0px;
}

#storyteller-rumor-pane {}
#storyteller-rumor-list {}
#storyteller-rumor-list li.rumor {
	clear: left;
	height: 70px;
	list-style: none;
}
#storyteller-rumor-list li.rumor .investigateButton {
	clear: left;
	font-size: .8em;
	width: 100px;
	margin: 5px;
}
#storyteller-rumor-list li.rumor .investigationStatus {
	float: left;
	font-size: .8em;
	margin: 5px;
}
#storyteller-rumor-list li.rumor .investigationStatusCode {
	display: none;
	float: left;
	font-size: .8em;
}
#storyteller-rumor-list li.rumor .publicationStatus {
	float: left;
	font-size: .8em;
	margin: 5px;
}
#storyteller-rumor-list li.rumor .publicationStatusCode {
	display: none;
	float: left;
	font-size: .8em;
}
#storyteller-rumor-list li.rumor .text {
	font-size: 1.2em;
	width: 200px;
}
#storyteller-rumor-list li.rumor .truthStatus {
	float: left;
	font-size: .8em;
	margin: 5px;
}
#storyteller-rumor-list li.rumor .truthStatusCode {
	display: none;
	float: left;
	font-size: .8em;
}


/* Tor */

#tor-control-pane {
	position: absolute;
	top: 50px;
	height: 75px;
	right: 885px;
	width: 500px;
}
