'use strict';

module.exports = {
  app: {
    title: 'Torwolf',
  },
  port: 3000,
  sqlDatabase: 'torwolf',
  sqlUser: 'user',
  sqlPassword: '',
  sqlHost: 'host',
  sqlPort: 5432,
  socketIoHost: 'http://localhost',
  socketIoPort: 3000
}
